@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="loginCase">
    <label id="cncl"><span class="glyphicon glyphicon-remove"></span></label>

    <div id="loginModal" class="login">
        <form>
            <!--Image, if needed-->
            <div class="image">
                <!--<h3>Login</h3>-->
                <!--<a class="navbar-brand" href="#"><img src="~/images/yf_logo.svg" alt="Youth Futures Logo" /></a>-->
                <img src="~/images/yf_logo.svg" />
            </div>

            <div class="container">
                <div class="rw1">
                    <!--User Name-->
                    <label><b>Username:</b></label>
                    <input type="text" name="usrnm" required />
                </div>

                <div class="rw2">
                    <!--Password-->
                    <label><b>Password:</b></label>
                    <input type="password" name="pswrd" required />
                </div>

                <!--<div class="rw3">-->
                <!--Buttons-->
                <button id="sbmt" type="submit">Login</button>
                <!--<button id="cncl" type="button">Cancel</button>-->
                <!--</div>-->

                <div class="rw4">
                    <p><a>Forgot Your Password?</a></p>
                    <p><a>Forgot Your Username?</a></p>
                </div>
                <!--<button id="cncl" type="button">Cancel</button>-->
            </div>
        </form>
    </div>
</div>