
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <h2>Staff Information</h2>
    <div>
        <img class="staff_pic" src="~/images/ban_circle.png" title="Image does not exist" alt="Image does not exist" />
        <button>Select Image</button>
    </div>

    <div>
        <label>Name: </label>
        <input type="text" name="staff_name" required />

        <br />

        <label>Title: </label>
        <input type="text" name="staff_title" required/>

        <br />

        <label>Email: </label>
        <input type="text" name="staff_email" required/>

        <br />

        <label>Current Staff Member?</label>
        <input type="radio" name="c_yes"/>
        <input type="radio" name="c_no"/>
    </div>
</div>